<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title> Index </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
            <form>
                <div class="msg">Sign In</div></br>
                    <input id="guestFName" name="guestFName" type="text" placeholder="Enter your first name" class="textbox" /></br></br>
                    <input id="guestLName" name="guestLName" type="text" placeholder="Enter your class name" class="textbox" /></br></br>

                    <input id="contactEmail" name="contactEmail" type="checkbox" onClick="doCheckUncheck()" />
                    <input id="contactPhone" name="contactPhone" type="checkbox" onClick="doCheckUncheck()" /></br>

                    <input id="guestEmail" name="guestEmail" type="text" placeholder="Enter your email" class="textbox_email" /></br></br>
                    <input id="guestPhone" name="guestPhone" type="text" placeholder="Enter your phone number" class="textbox_phone" /></br></br>
                    <input type="submit" class="btn" value="Submit"></br>
            </form>
          </div>
        </div>
    </body>
    <script>
        // still need to hide forms when checkboxes aren't checked
        function doCheckUncheck() {
            let checkEmail = document.getElementById('contactEmail').checked
            let checkPhone = document.getElementById('contactPhone').checked

            let formEmail = document.getElementById('guestEmail')
            let formPhone = document.getElementById('guestPhone')
        }
    </script>
</html>