<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% for item in items %}
        <div>{{ item[0] }}: {{ item[1] }}</div>
    {% endfor %}
    <a href="{{ url_for('admin_portal') }}" class="btn">Back To Portal</a>
</head>
<body>
    </br></br>
    <input type="submit" class="btn" value="Showcase This Property" onClick="showcasePropertyButton()"></br></br>
    <input type="submit" class="btn" value="Update Property Information" onClick="updatePropertyButton()"></br></br>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type = "submit" value="Upload Property Images">
    </form>
    </br>
    {% for filen in filelist %}
        <img src="{{ url_for('static', filename='media/' + agent + '/PROPERTY/' + prop + '/' + filen) }}" alt="image" height="35%" width="25%"></br></br>
    {% endfor %}
</body>
<script>
      function updatePropertyButton() {
          window.location.href = "{{ url_for('update_property', propertyID = prop_id) }}"
      }
      function showcasePropertyButton() {
          window.location.href = "{{ url_for('showcase_property', propertyID = prop_id) }}"
      }
</script>
</html>